@model IEnumerable<Product>

<h2>Products</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Make</th>
        <th>Model</th>
        <th>ReviewID</th>
        <th>Year</th>
        <th>TopSpdMPH</th>
        <th>Price</th>
    </tr>

    @foreach (var product in Model)
    {
<tr>
    <td>@product.ProductID</td>
    <td>@product.Make</td>
    <td>@product.Model</td>
    <td>@product.ReviewID</td>
    <td>@product.Year</td>
    <td>@product.TopSpdMPH</td>
    <td>@product.Price</td>
</tr>

    }
</table>
